$title_h1: 48px;
$title_h2: 32px;
$font: "Roboto", "Arial", sans-serif;
$text-size_default: 24px;

@mixin block-indent {
	padding: 20px;
	margin: 20px;
}

@mixin flex-row-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@mixin flex-column-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1,
h2 {
	font-family: $font;
	margin: 0;
}

.main {
	flex: 1 1 auto;
	font-family: $font;
}

h1 {
	font-size: $title_h1;
	text-align: center;
}

.main-block__top {
	@include flex-row-between();

	text-align: justify;
	font-size: $text-size_default;

	&__container {
		@include block-indent();

		p {
			color: rgb(66, 62, 62);
            padding-top: 20px;
            padding-bottom: 20px;
		}

		h2 {
			font-size: $title_h2;
		}
	}
}

.container_orange {
	@include flex-column-between();

	border: 1px solid;
	border-color: orange;

	h2 > span {
		color: orange;
	}
}

.container_blue {
	@include flex-column-between();

	border: 1px solid;
	border-color: blue;

	h2 > span {
		color: blue;
	}
}

.container_1, .container_2 {
	@include block-indent();

	border: 1px solid;
}