<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Управление отображением элементов</title>
</head>
<body>
    <div id="app">

        <h2 v-if="type === 'a'">A</h2>
        <h2 v-else-if="type === 'b'">B</h2>
        <h2 v-else-if="type === 'c'">C</h2>
        <h2 v-else>not match</h2>

        <input type="text" v-model="type">

        <hr>

        <h2 v-if="isVisible">I am visible</h2>
        <h2 v-if="!isVisible">I am not :(</h2>
        <button @click="isVisible = !isVisible">Toggle visibility</button>

        <hr>

        <template v-if="isVisible">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, saepe!</p>
        </template>

        <template v-else>
            <h2 style="color:red">Title</h2>
            <p style="color:blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, saepe!</p>
        </template>

    </div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            isVisible: false,
            type: 'a',
        }
    })
</script>
</body>
</html>